{% extends "app/member/member_base.html" %}

{% block main_section %}
<div class='settings-form'>
   	<h3> Setting Profile</h3>       
    <form class="settings" id="settings_form" method="post" action="/settings/">{% csrf_token %}
    	{{ form.non_field_errors }}
    	<div class="firstname-field fieldWrapper">
        	{{ form.first_name.errors }}
        	<label for="id_first_name">First Name:</label>
        	{{ form.first_name }}
    	</div>
    	<div class="lastname-field fieldWrapper">
        	{{ form.last_name.errors }}
        	<label for="id_last_name">Last Name:</label>
        	{{ form.last_name }}
    	</div>
    	<div class="email-field fieldWrapper">
        	{{ form.email.errors }}
        	<label for="id_email">Email:</label>
        	{{ form.email }}
    	</div>
       	{% if redirect_field_value %}
       	<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
       	{% endif %}
      	<p><input type="submit" id="signup_submit_btn" value="Submit" /></p>
   	</form>
</div>
{% endblock %}
