/**********************
*					  *
*	     toolbar 	  *
*					  *
**********************/
.toolbar {
	margin:0px 40px 35px 0px;
	min-width: 850px;
	position: relative;
	border-bottom: 1px solid #cacaca;	
}

.toolbar .left-section {
	position: relative;
}

.toolbar .left-section .title {
	font-weight: bold;
	font-size: 18px;
	margin-right: 35px;
}

.toolbar .left-section ul li.divider-vertical{
	height: 15px;
	border-left: 1px solid #7c7b7b;
	margin-top: 2px;
}

.toolbar .left-section ul li.toolbar-icon img {
	margin-top: -4px;
}

.toolbar .left-section ul li.create-story{
	position:relative;
	width:75px;
	height:33px;
}

.toolbar .left-section ul li.create-story .create-story-button {
	position: absolute;
	left:-1px;
	top:-5px;
	width: 75px;
	height: 27px;
	text-align:center;
	padding-top:4px;
}

.toolbar .left-section ul li.create-story .create-story-button span.dropdown-icon img {
	margin-top: -1px;
	margin-left: 5px;
}


.toolbar .left-section ul li.create-story span.create-story-text {
	margin-left: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #6d6d6d;
}

.toolbar .left-section ul li.create-story a:hover{
	text-decoration: none;
}

/**********************
*					  *
*	  SORT SECTION	  *
*					  *
**********************/
/*.sort-filter-section {
	position: relative;
	min-width: 850px;
}
*/
/*.sort-filter-area {
	height: 0px;
	position: absolute;
	right: -12px;
	top: 0px;
}*/

.sort-filter-area .sort,
.sort-filter-area .filter {
	position:relative;
}

.sort-filter-area .filter {
	margin-right: 25px;
}

.sort-filter-area .sort .sort-button,
.sort-filter-area .filter .filter-button {
	float: right;	
	height: 27px;
	text-align: center;
	margin-top: -2px;
	/*padding-top: 6px;*/
	border: 1px solid transparent;
}

.sort-filter-area .sort .sort-button .dropdown-icon,
.sort-filter-area .filter .filter-button .dropdown-icon {
	margin-right: 10px;
}

.sort-filter-area .sort .sort-button .dropdown-icon img,
.sort-filter-area .filter .filter-button .dropdown-icon img {
	margin-top: 1px;
}

.sort-filter-area .sort .text-title,
.sort-filter-area .filter .text-title{
	color: #7c7c7c;
	float: left;
	font-size: 11px;
	font-weight: bold;
	margin-right: 8px;
	/*margin-top: 13px;*/
}

.sort-filter-area .sort .typename,
.sort-filter-area .filter .typename {
	color: black;
	font-weight: bold;
	font-size: 11px;
	margin-right: 4px;
	margin-left: 5px;
}

.sort-filter-area .sort a:hover,
.sort-filter-area .filter a:hover{
	text-decoration: none
}

#sort_options,
#filter_options {	
	min-width: 100px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 26px;
	right: 0px;
	z-index: 10;
	list-style: none;
	background-color: white;
	border-radius: 0px;
	border-top: 1px solid #cacaca;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

#sort_options li,
#filter_options li {
	text-align: center;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	height: 28px;
	padding-top: 6px;
	color: black;
	font-weight: bold;
	font-size: 11px;
	
}

#sort_options li:hover,
#filter_options li:hover {
	background-color: #ececec;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;

}

/******************************
*							  *
*		CONTENT STORY		  *
*					  		  *
******************************/
.content {
	margin:0px 40px 35px 0px;
}

.story-item {
	position:relative;
  	width: 270px;
  	margin:0px 30px 20px auto;
  	float: left;
  	background-color: #ffffff;
  	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
  	border-radius:8px;
}

.story-item .story-header {
	margin-bottom:15px;
}

.story-item .category-comment-share {
	margin-top:6px;
	margin-bottom:10px;
}

.story-item .category-comment-share .category{
	margin-top:5px;
	margin-left: 16px;
	font-weight:bold;
	font-size: 16px;
	color: #f08712;
}

.story-item .category-comment-share .comment-share .comment,
.story-item .category-comment-share .comment-share .share {
	margin:3px 10px 0px 10px
}

.story-item .category-comment-share .comment-share .vertical-divider {
	border-left: 1px solid #ebebeb;
	width:1px;
	height:26px;
	margin:0px;
}

.story-item .category-comment-share .comment-share .icon {
	margin-top:3px;
}

.story-item .category-comment-share .comment-share .share .icon {
	margin-top:1px;
}

.story-item .category-comment-share .comment-share .data{
	font-size: 12px;
	color: #909090;
	font-style: italic;
}

.story-item .story-content {
	margin-left: 20px;
	margin-right:20px;
}

.story-item .story-content .text,
.story-item .story-content .file {
	font-size: 12px;
	margin-bottom:20px;
}

.story-item .story-content .text .title {
	font-weight:bold;
	word-wrap:break-word;
}

.story-item .story-content .text .content {
	margin: 5px 0px 0px 0px;
	word-wrap:break-word;
}

.story-item .story-content .above-link {
	margin-top: 15px;
	word-wrap: break-word;
}

.story-item .story-content .above-link a {
	color: #f08712;
}

.story-item .file .file-name {
	margin-left: 10px;
	font-weight: bold;
	margin-top: 6px;
	width:180px;
	line-height: 1.45em;
	word-wrap: break-word;
}

.story-item .story-action{
	width:269px;
}

.story-item .story-action .action-item {
	background-color: #ededed;
	border:1px solid white;
	padding-top: 18px;
	padding-bottom:10px;
	position:relative;
}

.story-item .story-action .action-item .action-user .date-post {
	position:absolute;
	top:2px;
	right:10px;
	font-size:12px;
	font-weight:normal;
	color: #cfcfcf;
}

.story-item .story-action .action-item .action-user .fullname,
.story-item .story-action .action-item .action-user-fullname {
	font-size: 12px;
	font-weight:bold;
	margin-left: 20px;
	margin-bottom:8px;
}

.story-item .story-action .action-item .action-content {
	margin:0px 20px 8px 20px;
	font-size:12px;
}

.story-item .story-action .add-comment-textbox {
	width: 210px;
	height: 20px;
	margin-left:20px;
}

.story-item .story-action .add-comment-textbox::-webkit-input-placeholder {
	font-size: 12px;
	color: #cacaca;
}

.story-item .story-action .add-comment-textbox::-moz-placeholder{
	font-size: 12px;
	color: #cacaca;
}

.story-item .story-action .add-comment-textbox::-ms-input-placeholder {
	font-size: 12px;
	color: #cacaca;
}

.story-item .theme-picture {
	margin-bottom:5px;
}

.story-item .theme-picture img.main-picture {
	position: relative;
	z-index: 3;
	border:1px solid #5d5d5d;
	width: 268px;
	height:190px;
}