.main-section {
	margin-left:0px;
}

#create_story_form .display-picture img,
#edit_story_form .display-picture img {
	width: 168px;
	height: 90px;
	border:1px solid #cacaca;
}

#create_story_area,
#edit_story_area {
	margin-left: 300px;
	margin-right: 300px
}

#story_title_input {
	width: 98%;
}

#category_input,
#story_privacy_input {
	width:120px;
}

.story-info {
	margin-bottom:25px;
}

.story-title {
	margin-bottom: 5px;
}

.story-privacy {
	margin-top:25px;
}

#create_story_form label
#edit_story_form label {
	margin-top:4px;
	font-weight: bold;
	margin-right:15px;
}

.select-picture {
	margin-top: 15px;
}

.form-action {
	margin-top:10px;
}

.form-action .social-action {
	margin-bottom:20px;
}

.social-action .wrapper {
	margin-left: 10px;
}

.social-action .wrapper span {
	position: relative;
	top:3px;
	margin-right:15px;
}

.social-action .wrapper input[type='checkbox'] {
	margin-right: 5px;
}

#story_area {
	margin-left: 80px;
	margin-right:80px;
}

#story_area .left-column {
	width:700px;
	margin-right:80px;
}

#story_area .left-column .author-section {
	font-size:12px;
}

#story_area .left-column .author-section .column1 {
	margin-right:10px;
}

#story_area .left-column .author-section .column1 img.author-avatar {
	width:42px;
	height:42px;
	border: 1px solid white;
}


#story_area .left-column .author-section .author .author-name {
	font-weight:bold;
}

#story_area .left-column .author-section .author .create-time {
	font-size:11px;
	color: #9d9d9d;
}

#story_area .left-column .author-section .report a {
	color: #0088cc;
}

#story_area .left-column .author-section .report a:hover {
	text-decoration: underline;
}

#story_area .left-column .story-section {
	margin-top:40px;
	margin-bottom:30px;
}

#story_area .left-column .story-section .title {
	font-weight:bold;
	margin-bottom:15px;
}

#story_area .left-column .comment-section .title {
	padding-bottom:20px;
	font-weight:bold;
}

#story_area .left-column .comment-section .add-comment {
	padding-top:20px;
	padding-bottom:15px;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}


#story_area .left-column .comment-section .add-comment .add-comment-textbox {
	width: 650px;
	margin-left: 15px;
}

#story_area .left-column .comment-section .add-comment .add-comment-textbox input {
	width: 100%;
	height:30px;
}

#story_area .right-column .side-menu .menu-item {
	margin-bottom:20px;
}

#story_area .right-column .side-menu .menu-item .menu-icon {
	margin-right: 10px;
}

#story_area .right-column .side-menu .menu-item .menu-name {
	font-weight:bold;
}

#story_area .right-column .story-action-button {
	margin-top:20px;
	margin-bottom: 40px;
}

#story_area .right-column .story-action-button .edit-button,
#story_area .right-column .story-action-button .like-button{
	margin-left: 10px;
}

#story_area .right-column .list-followers .title {
	font-weight:bold;
}

#story_area .comment-item {
	margin-top:10px;
	padding-left:20px;
	padding-right:20px;
	border-bottom: 1px solid #cdcdcd;
}

#story_area .comment-item .comment-user {
	margin-bottom:15px;
}

#story_area .comment-item .comment-user .fullname {
	font-size: 12px;
	font-weight: bold;
}

#story_area .comment-item .comment-user .comment-time {
	font-size:11px;
	color: #9d9d9d;
}

#story_area .comment-item .comment-content {
	margin-bottom:10px;
}