{% extends "base.html" %}

{% block init_script %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/app/account.css" type="text/css" />
    <script type="text/javascript" src="{{STATIC_URL}}js/app/account/ajax.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/account/function.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/app/account/main.js"></script>

    {% block custom_init_script %}
    {% endblock %}

{% endblock %}

{% block custom_modal %}
{% endblock %}