{% extends "app/account/account_base.html" %}

{% block main_section %}
    		<div class="signin-section">
				<div class="signin-header row-fluid">
					<div class="header-text pull-left">
						Sign In
					</div>
					<div class="signin-fb pull-right">
						<a href='/accounts/facebook/login'>
							<input src="{{STATIC_URL}}img/app/account/signin-fb-btn.png" style="margin:10px 5px 0px 5px" type="image" alt="Signin with Facebook">
						</a>
					</div>
				</div>
				<div class="signin-content row-fluid">
					 <form class="login" id="login_form" method="post" action="/login/">{% csrf_token %}
						<div class='non-field-error row-fluid'>
                            {{ form.non_field_errors }}
                        </div>
						<div class="email-password-section row-fluid">
							<div class="email-field pull-left">
								<label for="id_login" class="title">
									Email
								</label>
								{{form.login.errors}}
								<div class="input-field">
									{{form.login}}
								</div>
							</div>
							<div class="password-field pull-left">
								<label for="id_password" class="title">
									Password
								</label>
								{{form.password.errors}}
								<div class="input-field">
									{{form.password}}
								</div>
							</div>
						</div>
						<div class="complete-section">
							 {% if redirect_field_value %}
        						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        					{% endif %}
							<div class="remember-me pull-left">
								<input type="checkbox" name="_spring_security_remember_me" checked="checked">
								<span>Remember Me</span>
							</div>
							<div class="signin-btn pull-right">
								<input id="signin-btn" type="image" src="{{STATIC_URL}}img/app/account/signin-btn.png" alt="Sign in">
							</div>
						</div>
					</form>
				</div>
				<div class="signin-footer row-fluid">
					<div class="forgot-section pull-left">
						<div class="forgot-item pull-left">
							<a href="/password/reset">Forgot Password?</a>
						</div>
					</div>
					<div class="content pull-right">
						New to Stomory? <a href="/signup">Register</a>
					</div>
				</div>
			</div>


{% endblock %}

