{% extends "app/account/account_base.html" %}

{% block main_section %}
			<div class="reset-password-section">
				<div class="reset-password-header row-fluid">
					<div class="header-text pull-left">
						Reset Password
					</div>
				</div>
				<div class="reset-password-content row-fluid">
					<div class='complete-message'>
						We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
					</div>
				</div>
			</div>

{% endblock %}
