{% extends "app/account/account_base.html" %}

{% block main_section %}
			<div class="reset-password-section">
				<div class="reset-password-header row-fluid">
					<div class="header-text pull-left">
						Reset Password
					</div>
				</div>
				<div class="reset-password-content row-fluid">
					<form method="POST" action="" class="password_reset"> {% csrf_token %}
						<div class="email-section row-fluid">
							<label for="id_email" class="title" style="">
								Email
							</label>
							{{ password_reset_form.email.errors }}
							<div class="input-field">
								{{ password_reset_form.email }}
							</div>
							<!-- <input type="text" id="username_input" name="username_input" placeholder="Username" maxlength="50" class="valid"> -->
						</div>
						<div class="complete-section">
							<div class="submit-btn">
								<input type="image" src="//db0dp9rjtl3zs.cloudfront.net/zaahah.com/v3/img/app/forgot_page/submit-btn.png">
							</div>
						</div>
					</form>
				</div>
			</div>
{% endblock %}
