{% extends "app/account/account_base.html" %}

{% block main_section %}

            <div class="register-section">
                <div class="register-header row-fluid">
                    <div class="header-text pull-left">
                        Signup
                    </div>
                    <div class="join-fb pull-right">
                       <a href='/accounts/facebook/login/'>
                            <input src="{{STATIC_URL}}img/app/account/signin-fb-btn.png" style="margin:10px 5px 0px 5px" type="image" alt="Signin with Facebook">
                        </a>
                    </div>
                </div>
                <div class="register-content row-fluid">
                     <form class="signup" id="signup_form" method="post" action="{% url account_signup %}">{% csrf_token %}
                        <div class='non-field-error row-fluid'>
                            {{ form.non_field_errors }}
                        </div>
                        <div class="name-section data-row row-fluid">
                            <div class="firstname-field pull-left">
                                <label for="id_first_name" class="title">
                                    First Name
                                </label>
                                {{ form.first_name.errors }}
                                <div class="input-field">
                                    {{form.first_name}}
                                </div>
                            </div>
                            <div class="lastname-field pull-right">
                                <label for="id_last_name" class="title">
                                    Last Name
                                </label>
                                {{form.last_name.errors}}
                                <div class="input-field">
                                    {{form.last_name}}                                
                                </div>
                            </div>
                        </div>

                        <div class="password-section data-row row-fluid">
                            <div class="password-field pull-left">
                                <label for="id_password1" class="title">
                                    Password
                                </label>
                                {{form.password1.errors}}
                                <div class="input-field">
                                    {{form.password1}}
                                </div>
                            </div>
                            <div class="confirm-password-field pull-right">
                                <label for="id_password2" class="title">
                                    Confirm Password
                                </label>
                                {{form.password2.errors}}
                                <div class="input-field">
                                    {{form.password2}}
                                </div>
                            </div>
                        </div>
                        
                        <div class="email-gender-section data-row row-fluid">
                            <div class="email-field pull-left">
                                <label for="id_email" class="title">
                                    Email
                                </label>
                                {{form.email.errors}}
                                <div class="input-field">
                                    {{form.email}}
                                </div>
                            </div>
                            <div class="gender-section pull-left">
                                <label for="id_gender" class="title">
                                    Gender
                                </label>
                                {{form.gender.errors}}
                                <div class="input-field">
                                    {{form.gender}}
                                </div>
                            </div>
                        </div>
                        
                        <div class="complete-section row-fluid">
                            <div class='left-content pull-left'>
                                <div class="register-btn pull-right">
                                    <input id="register_btn" type="image" src="{{STATIC_URL}}img/app/account/register-btn.png" alt="Register">
                                </div>
                            </div>
                            <div class="right-content pull-right">
                                Already a member? <a href="/login"> Sign In </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

{% endblock %}
