{% extends "app/account/account_base.html" %}

{% block main_section %}
            <div class="social-signup-section">
                <div class="social-signup-header row-fluid">
                    <div class="header-text pull-left">
                        Signup with Facebook
                    </div>
                </div>
                <div class="social-signup-content row-fluid">
                    <form class="signup" id="social_signup_form" method="post" action="">{% csrf_token %}
                        <div class='non-field-error row-fluid'>
                            {{ form.non_field_errors }}
                        </div>

                        <div class="email-section data-row row-fluid">
                            <div class="email-field pull-left">
                                <label for="id_email" class="title">
                                    Email
                                </label>
                                {{form.email.errors}}
                                <div class="input-field">
                                    {{form.email}}
                                </div>
                            </div>
                        </div>
                        
                        <div class="complete-section row-fluid">
                            <div class="submit-btn">
                                <input id="social-signup_btn" type="image" src="{{STATIC_URL}}img/app/account/register-btn.png" alt="social-signup">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

{% endblock %}
