{% extends "app/main/main_base.html" %} 

{% block custom_init_script %}
<script>
    $(document).ready(function() {
        var parameter = window.location.search.replace( "?", "" );
        if (parameter.length > 0) {
            if (parameter.search("&") == -1) {
                var parameter_key = parameter.substring(0,parameter.search("="));
                var parameter_value = parameter.substring(parameter.search("=")+1,parameter.length);
                if (parameter_key == "type") {
                    var el = $("#filter_options").find('li[tag=' + parameter_value + "]")[0];
                    $('.filter-button .typename').html($(el).html());
                } else if (parameter_key ='sortby') {
                    var el = $("#sort_options").find('li[tag=' + parameter_value + "]")[0];
                    $('.sort-button .typename').html($(el).html());
                }
            }
        }

        $(".add-comment-textbox").keypress(function(e) {
            if(e.which == 13) {
                var comment_content = $(this).val();
                var story_id = $(this).attr('tag');
                Dajaxice.stomory.app.story.post_comment(reload_callback,{'comment_content':comment_content,'story_id':story_id});
            }
        });

        
    })
</script>
{% endblock %}

{% block main_section %}
<div class='toolbar row'>
    <div class='left-section pull-left'>
        <ul>
            <li class='title pull-left'>
                Latest Story
            </li>
            <!-- <li class='divider-vertical pull-left'></li>
            <li class='header-icon create-story pointer-cursor pull-left' >
                <a href='#' id='handler_create_story'>
                    <div class='create-story-button pointer-cursor'>
                        <span class='create-story-text'>
                            CREATE
                        </span>
                    </div>
                </a>
            </li> -->
        </ul>
    </div>
    <div class='right-section pull-right'>
        <div class='sort-filter-section row'>
            <div class='sort-filter-area pull-right'>
                <div class="filter pull-left">
                    <div class="text-title">
                        Filter by:
                    </div>
                    <a href="#" id="handler_filter_dropdown" class="dropdown-toggle" role="button" data-toggle="dropdown">
                        <div class="filter-button pointer-cursor" style="border: 1px solid transparent;">
                            <span class="typename">
                                None
                            </span>
                            <span class="dropdown-icon">
                                <img src='{{STATIC_URL}}img/app/body/sort-dropdown-icon.png' width="11" height="11" alt="Dropdown Icon">
                            </span>
                        </div>
                    </a>
                    <ul id="filter_options" class="dropdown-menu" aria-labelledby="handler_filter_dropdown">
                        <li class="pointer-cursor" tag='popular' onclick="window.location.href='/filter/?type=popular'">
                            Most popular
                        </li>
                        <li class="pointer-cursor" tag='children' onclick="window.location.href='/filter/?type=children'">
                            Children
                        </li>
                        <li class="pointer-cursor" tag='family' onclick="window.location.href='/filter/?type=family'">
                            Family
                        </li>
                        <li class="pointer-cursor" tag='friend' onclick="window.location.href='/filter/?type=friend'">
                            Friend
                        </li>     
                        <li class="pointer-cursor" tag='life' onclick="window.location.href='/filter/?type=life'">
                            Life
                        </li>
                        <li class="pointer-cursor" tag='love' onclick="window.location.href='/filter/?type=love'">
				            Love
                        </li>
                        <li class="pointer-cursor" tag='nature' onclick="window.location.href='/filter/?type=nature'">
                            Nature
                        </li>
                        <li class="pointer-cursor" tag='teacher' onclick="window.location.href='/filter/?type=teacher'">
				            Teacher
                        </li>
                        <li class="pointer-cursor" tag='youth' onclick="window.location.href='/filter/?type=youth'">
				            Youth
                        </li>
                        <li class="pointer-cursor" tag='war' onclick="window.location.href='/filter/?type=war'">
                            War
                        </li>
                    </ul>
                </div>
                <div class='sort pull-left'>
                    <div class='text-title'>
                        Sort by:
                    </div>
                    <a href='#' id='handler_sort_dropdown' class="dropdown-toggle" role="button" data-toggle="dropdown">
                        <div class='sort-button pointer-cursor'>
                            <span class='typename'>
                                None
                            </span>
                            <span class='dropdown-icon'>
                                <img src='{{STATIC_URL}}img/app/body/sort-dropdown-icon.png' width='11' height='11' alt='Dropdown Icon'/>
                            </span>
                        </div>
                    </a>
                    <ul id="sort_options" class="dropdown-menu" aria-labelledby="handler_sort_dropdown">
                        <li class="pointer-cursor" tag='latest' onclick="window.location.href='/sort/?sortby=latest'">
				            Latest
                        </li>
                        <li class="pointer-cursor" tag='oldest' onclick="window.location.href='/sort/?sortby=oldest'">
                            Oldest 
                        </li>
                        <li class="pointer-cursor" tag='ascending' onclick="window.location.href='/sort/?sortby=ascending'">
				            Title (A-Z)
                        </li>
                        <li class="pointer-cursor" tag='descending' onclick="window.location.href='/sort/?sortby=descending'">
                            Title (Z-A)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>                         
</div>

<div class='content row'>
    <div id="story_container" class="masonry">

        {% for story in list_story %}

            <div class="story-item">     
                <div class="story-header">
                    <div class='category-comment-share row'>
                        <div class='category pull-left'>
                            <div class='category-title'>
                                {{story.category.name}}
                            </div>
                        </div>
                        <div class="comment-share pull-right">
                           <!--  <div class="vertical-divider pull-left"></div> -->
                            <a href="/story/{{story.pk}}" class="story-item-link">
                                <div class="comment pull-left">
                                    <!-- <img src="{{STATIC_URL}}img/app/body/comment-icon.png" class="icon"> -->
                                    <i class="icon-comment"></i>
                                    <span class="data">{{story.comment.all|length}}</span>
                                </div>
                            </a>
                            <!-- <div class="vertical-divider pull-left"></div>
                            <div class="share pull-left">
                                <a href='#'>
                                    <img src='{{STATIC_URL}}img/app/body/share-icon-post.png' class='icon' alt='Share Icon' />
                                </a>
                            </div> -->
                        </div>
                    </div>
                    <div class="theme-picture row">
                        <a href="/story/{{story.pk}}" class="story-item-link">
                            {% if story.theme_picture %}
                                <img src="{{story.theme_picture.url}}" class="main-picture" alt="Post Picture" width="268" height="190" />
                            {% else %}
                                <img src="{{story.category.category_logo.url}}" class="main-picture" alt="Post Picture" width="268" height="190" />
                            {% endif %}
                           
                        </a>
                    </div>
                    
                </div>
                <div class="story-content">
                    <div class="text row">
                        <div class="title">
                            <a href="#" class="story-item-link">{{story.title}}</a>
                        </div>
                        <div class="content">
                            {{story.content|striptags}}
                        </div>
                    </div>    
                </div>
                <div class="story-action">

                    {% for comment in story.comment.all %}

                        <div class="action-item row">
                            <div class='action-user row'>
                                <div class="fullname pull-left">
                                    {{comment.comment_by.first_name}} {{comment.comment_by.last_name}}
                                </div>
                                <div class="date-post pull-right">
                                    {{comment.created_date}}
                                </div>
                            </div>
                            <div class='action-content row'>
                                {{comment.content}}
                            </div>
                           
                            <!-- <div class='action-user row'>
                                <div class="column1 pull-left" style='margin-left:20px'>
                                    <a href="#" class="disable-link-top" >
                                        {% if comment.comment_by.get_profile.is_fb_account %}
                                            <img src="{{comment.comment_by.get_profile.avatar}}" class="author-avatar" alt="Author Avatar" style='width:42px;height:42px'>
                                        {% else %}
                                            <img src="{{comment.comment_by.get_profile.avatar.url}}" class="author-avatar"alt="Author Avatar" style='width:42px;height:42px'>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="column2 pull-left" style='margin-left:10px'>
                                    <div class="user-post-name pointer-cursor">
                                        {{comment.comment_by.first_name}} {{comment.comment_by.last_name}}
                                    </div>
                                    <div class="date-post">
                                        {{comment.created_date}}
                                    </div>
                                </div>
                            </div>
                            <div class='action-content row'>
                                {{comment.content}}
                            </div> -->


                            <!-- <div class="date-post">{{comment.created_elapse_time}}</div>
                            <div class="left-area pull-left">
                                <div class="action-user-avatar">
                                    <img src="" width="28" height="28" class="user-picture">
                                </div>
                            </div>
                            <div class="right-area pull-left">
                                <div class="user-info row">
                                    <div class="fullname pull-left">
                                        {{comment.comment_by.first_name}} {{comment.comment_by.last_name}}
                                    </div>
                                </div>
                                <div class="user-action row">
                                    {{comment.content}}
                                </div>
                            </div> -->
                        </div>

                    {% endfor %}

                    <div class="action-item row">
                        <div class="action-user-fullname row">
                            {{user_login.first_name}} {{user_login.last_name}}
                        </div>
                        <div class="action-textbox row">
                            <textarea class="add-comment-textbox" tag='{{story.pk}}' placeholder="add a comment" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
    
        {% endfor %}

    </div>
</div>
{% endblock %}

