{% extends "app/story/story_base.html" %}

{% block custom_init_script %}
	<script type="text/javascript" src="{{STATIC_URL}}libs/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript">
		tinyMCE.init({
			// General options
			mode : "textareas",
			theme : "advanced",
			plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks",

			// Theme options
			theme_advanced_buttons1 : "open,save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
			theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
			theme_advanced_toolbar_location : "top",
			theme_advanced_toolbar_align : "left",
			theme_advanced_statusbar_location : "bottom",
			theme_advanced_resizing : false,

			// Example content CSS (should be your site CSS)
			content_css : "{{STATIC_URL}}css/app/story.css",

			// Drop lists for link/image/media/template dialogs
			template_external_list_url : "lists/template_list.js",
			external_link_list_url : "lists/link_list.js",
			external_image_list_url : "lists/image_list.js",
			media_external_list_url : "lists/media_list.js",


			width: "100%",
			height: "500",

			// Style formats
			style_formats : [
				{title : 'Bold text', inline : 'b'},
				{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
				{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
				{title : 'Example 1', inline : 'span', classes : 'example1'},
				{title : 'Example 2', inline : 'span', classes : 'example2'},
				{title : 'Table styles'},
				{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
			],

			// Replace values for the template plugin
			template_replace_values : {
				username : "Some User",
				staffid : "991234"
			}
		});
	</script>
{% endblock %}

{% block main_section %}
<div class='content row'>
	<div id='create_story_area' class='row'>
		<form id='create_story_form' enctype="multipart/form-data" action='' method='post'> {% csrf_token %}
			<div class='story-info row'>
				<div class='basic-info pull-left'>
					<div class='category row'>
						<label class='pull-left'>Category:</label>
						<select id='category_input' name='category' class='pull-left'>
							{% for category in story_category %}
								{% if select_category.id == category.id %}
									<option value='{{category.id}}' tag='{{category.category_logo.url}}' selected>{{category.name}}</option>
								{% else %}
									<option value="{{category.id}}" tag='{{category.category_logo.url}}'>{{category.name}}</option>
								{% endif %} 
							{% endfor %}
						</select>
					</div>
					<div class='select-picture row'>
						<label class='pull-left' style='margin-right:10px'>Select your story logo:</label>
						<input type='file' name='theme_picture' id='theme_picture_input' class='pull-left' onchange='displayImageUpload(this)'/>
					</div>
				</div>
				<div class='display-picture pull-right'>
					<img src='{{select_category.category_logo.url}}' id='theme_picture'/>
				</div>
			</div>
			<div class='story-title row'>
				<input type='text' id='story_title_input' name='story_title' value='Title' />
			</div>
			<div class='story-body row'>
				<textarea id="elm1" name="elm1" rows="15" cols="80" style="width: 80%">
				</textarea>
			</div>
			<div class='story-privacy row'>
				<label class='pull-left'>Privacy:</label>
				<select id='story_privacy_input' name='story_privacy' class='pull-left'>
					<option value='1' selected>Public</option>
					<option value='0'>Private</option>
				</select>
			</div>
			<div class='form-action row'>
				<!-- <div class='social-action row'>
					<label class='pull-left'>Do you want to publish your story on Facebook</label>
					<div class='wrapper pull-left'>
						<input type='checkbox' name='social_publish' value='1' checked><span>Yes</span>
						<input type='checkbox' name='social_publish' value='0'><span>No</span>
					</div>
				</div> -->
				<div class='complete-action row'>
					<input type='submit' class='btn btn-primary' value='Save'/>
					<input type='button' class='btn' value='Cancel' onclick='window.history.back()'/>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}