{% extends "app/story/story_base.html" %} 

{% block custom_init_script %}
<script>

	$(document).ready(function() {

		var user_login = $('#user_login').val();

		$("#add_comment_textbox").keypress(function(e) {
			if(e.which == 13) {
				var comment_content = $('#add_comment_textbox').val();
				var story_id = $("#story_id").val();
				Dajaxice.stomory.app.story.post_comment(reload_callback,{'comment_content':comment_content,'story_id':story_id});
			}
		});

		$(".remove-comment").click(function() {
			console.log("dasda");
			var comment_id = $(this).attr('tag');
			Dajaxice.stomory.app.story.delete_comment(reload_callback,{'comment_id':comment_id});
		})

		$('#follow_button').hover(
			function() {
				var follow_value = $("#follow_value").val();
				if (follow_value == '1') {
					$('#follow_button').val("Unfollow");
					$('#follow_button').removeClass('btn-success');
					$('#follow_button').addClass('btn-danger');
				} 
			},
			function() {
				var follow_value = $("#follow_value").val();
				if (follow_value == '1') {
					$('#follow_button').val("Following");
					$('#follow_button').addClass('btn-success');
					$('#follow_button').removeClass('btn-danger');
				} 
			}
		)

		$('#follow_button').click(function() {
			var follow_value = $("#follow_value").val();
			var story_id = $("#story_id").val();
			if (user_login == "None") {
				window.location.href = "/login?next=/story/" + story_id;
			} else {
				if (follow_value == "0") {
					Dajaxice.stomory.app.story.follow_story(reload_callback,{'story_id':story_id});
					$("#follow_value").val('1');
				} else {
					Dajaxice.stomory.app.story.unfollow_story(reload_callback,{'story_id':story_id});
					$("#follow_value").val('0');
				}
			}
		})

		$('#like_button').click(function() {
			var like_value = $("#like_value").val();
			var story_id = $("#story_id").val();
			if (user_login == "None") {
				window.location.href = "/login?next=/story/" + story_id;
			} else {
				if (like_value == "0") {
					Dajaxice.stomory.app.story.like_story(reload_callback,{'story_id':story_id});
				} else {
					Dajaxice.stomory.app.story.unlike_story(reload_callback,{'story_id':story_id});
				}
			}
			
		})

		$("#report_button").click(function() {
			var reason = prompt("Please enter the reason why you report this story");
			var story_id = $("#story_id").val();
			if (reason == null || reason.length == 0) {
				alert("Sorry, your reason is not valid")
			} else {
				Dajaxice.stomory.app.story.report_story(report_story_callback,{'story_id':story_id,'reason':reason});
			}
			
			
		})

	})
</script>
{% endblock %}

{% block main_section %}
<div class="content row">
	<div id='story_area' class='row'>
		<input type='hidden' id='story_id' value='{{story.id}}' />
		<div class='left-column pull-left'>
			<div class="author-section row">
				<!-- <div class="column1 pull-left">
					<a href="#" class="disable-link-top" >
						{% if story.created_by.get_profile.is_fb_account %}
                            <img src="{{story.created_by.get_profile.avatar}}" class="author-avatar" alt="Author Avatar" style='width:42px;height:42px'>
                        {% else %}
                            <img src="{{story.created_by.get_profile.avatar.url}}" class="author-avatar"alt="Author Avatar" style='width:42px;height:42px'>
                        {% endif %}
					</a>
				</div> -->
				<div class="author pull-left">
					<div class="author-name pointer-cursor">
						{{story.created_by.first_name}} {{story.created_by.last_name}}
					</div>
					<div class="create-time">
						{{story.created_date}}
					</div>
				</div>
				{% if user_login %}
					<div class='report pull-right'>
						<a href='#' id='report_button'>Report</a>
					</div>
				{% endif %}
			</div>

			<div class="story-section">
				<div class="title">
					{{story.title}}
				</div>
				<div class="content">
					{{story.content|striptags}}
				</div>
			</div>

			<div class="comment-section">
				<div class="title row">
					{% if story.comment.all|length == 0 %}
						<span>{{story.comment.all|length}}</span> Comment
					{% else %}
						<span>{{story.comment.all|length}}</span> Comments
					{% endif %}
				</div>
				<div class="add-comment row">
					<!-- <div class="profile-picture pull-left">
						<img src="{{user_login.get_profile.avatar.url}}" width="28" height="28" alt="Your Avatar">
					</div> -->
					<div class="add-comment-textbox pull-left">
						<input type="text" id="add_comment_textbox" placeholder="add a comment">
					</div>
				</div>
				<div class="list-comment row">
					{% for comment in story.comment.all %}
						<div class="comment-item row">
							<div class="comment-user row">
								<!-- <div class="avatar-column pull-left" style='margin-right:10px'>
									{% if comment.comment_by.get_profile.is_fb_account %}
										<img src='{{comment.comment_by.get_profile.avatar}}' style='width:42px;height:42px;' />
									{% else %}
										<img src='{{comment.comment_by.get_profile.avatar.url}}' style='width:42px;height:42px;' />
									{% endif %}
								</div> -->
								<!-- <div class="info-column pull-left">
									<div class='fullname row'>
										{{comment.comment_by.first_name}} {{comment.comment_by.last_name}}
									</div>
								
									<div class='comment-time row'>
										{{comment.created_date}}
									</div>
								</div>  -->
								<div class='fullname pull-left'>
									{{comment.comment_by.first_name}} {{comment.comment_by.last_name}}
								</div>
							
								

								{% if comment.comment_by == user_login %}
									<div class='remove-comment pointer-cursor pull-right' tag='{{comment.id}}'style='margin-left:8px'>
										<i class='icon-remove'></i>
									</div>
								{% endif %}

								<div class='comment-time pull-right'>
									{{comment.created_date}}
								</div>
								
							</div>
																						
							<div class="comment-content row">
								{{comment.content|striptags}}								
							</div>

						</div>
					{% endfor %}
				</div>
				<!-- <div class='load-more-comment row '>
					<img src='//db0dp9rjtl3zs.cloudfront.net/zaahah.com/v3/img/app/community/load-more-icon.png' class='pointer-cursor' alt='Load More'/>
				</div> -->
						
			</div>
		</div>

		<div class='right-column pull-left'>
			<div class="side-menu row">
				<div class="menu-item row">
					<div class="menu-icon pull-left">
						<i class="icon-thumbs-up"></i>
					</div>
					<div class="menu-name pull-left">
						Like ({{story.num_like}})
					</div>
				</div>
				<div class="menu-item row">
					<div class="menu-icon pull-left">
						<i class="icon-comment"></i>
					</div>
					<div class="menu-name pull-left">
						Comments ({{story.comment.all|length}})
					</div>
				</div>
			</div>

			<div class="story-action-button row">	
				{% if isFollow %}
					<div class='follow-button pull-left'>		 
						<input type='button' class='btn btn-success' id='follow_button' value='Following'>
						<input type="hidden" id="follow_value" value="1">
					</div>
				{% else %}
					<div class='follow-button pull-left'>		 
						<input type='button' class='btn btn-normal' id='follow_button' value='Follow'>
						<input type="hidden" id="follow_value" value="0">
					</div>
				{% endif %}

				{% if isLike %}
					<div class='like-button pull-left'>
					<input type='button' class='btn btn-normal' id='like_button' value='Unlike'/>
					<input type="hidden" id="like_value" value="1">
				</div>
				{% else %}
					<div class='like-button pull-left'>
						<input type='button' class='btn btn-normal' id='like_button' value='Like'/>
						<input type="hidden" id="like_value" value="0">
					</div>
				{% endif %}
				
				{% if user_login == story.created_by %}
					<div class='edit-button pull-left'>
						<input type='button' class='btn btn-normal' id='edit_button' value='Edit' onclick='window.location.href="/story/edit/{{story.id}}"'/>
					</div>
				{% endif %}
			</div>

			<div class='list-followers row'>
				<div class='title row' style='margin-bottom:10px'>
					Followers ({{story.follow_by.all|length}})
				</div>
				<div class='content row'>
					{% for follower in story.follow_by.all %}
						<div class='follower-item pull-left' style='margin-right:20px'>
							<!-- {% if follower.get_profile.is_fb_account %}
								<img src='{{follower.get_profile.avatar}}' style='width:48px;height:48px;' />
							{% else %}
								<img src='{{follower.get_profile.avatar.url}}' style='width:48px;height:48px;' />
							{% endif %} -->
							<div class='wrapper' style='font-size:11px;font-weight:bold;'>
								{{follower.first_name}} {{follower.last_name}}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
	
</div>
{% endblock %}