#user_action {
	min-width: 120px;
	position: absolute;
	top: 49px;
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
	left:-85px;
}

#user_action li.divider {
	height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#user_action li {
	text-align: center;
	height: 30px;
	padding: 0px;
	margin: 0px;
}

#user_action li a {
	height: 25px;
	padding: 5px 20px 0px 0px;
	font-weight: bold;
	font-size: 13px;
}

#user_action li a:hover {
	height: 25px;
}

/* Customize Boostrap CSS dropdown menu icon */
.navbar .dropdown-menu::after {
	position: absolute;
	top: -14px;
	right: 10px;
	display: inline-block;
	border-right: 8px solid transparent;
	border-bottom: 14px solid white;
	border-left: 8px solid transparent;
	content: '';
}
