html {
	overflow-x: hidden;
}

body {
	background-color: #dadada;
	z-index: -2;
	overflow-x: hidden;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

textarea {
	resize: none;
}

textarea:focus {
	border: 1px solid #d6d6d6;
}

a,
a:hover,
a:focus {
	outline: 0;
	text-decoration: none;
	color: #333;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

#main_body {
	width: 100%;
	padding-bottom: 15px;
	overflow: hidden;
}

.pointer-cursor {
	cursor: pointer
}

.rotate-connection-icon {
	transform:rotate(-180deg);
	-ms-transform:rotate(-180deg); /* Internet Explorer */
	-moz-transform:rotate(-180deg); /* Firefox */
	-webkit-transform:rotate(-180deg); /* Safari and Chrome */
	-o-transform:rotate(-180deg); /* Opera */
}

.rotate-arrow-icon {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* Internet Explorer */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
}

.scroll-bar {
	overflow: hidden;
}

.scroll-bar:hover {
	overflow-y: auto;
}

.scroll-bar::-webkit-scrollbar {
	width: 12px;
}

.scroll-bar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll-bar::-webkit-scrollbar-thumb {
	height: 20px;
	background: rgba(0,0,0,0.3);
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.alert-message {
	position:fixed;
	top: 48px;
	left:20%;
	width: 860px;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 5px;*/
	background-color: white;
	border: 1px solid #cacaca;
	/*opacity: 0.9;*/
	z-index: 100
}

.alert-message .important-word {
	color: #f08712;
	font-weight: bold;
}

.save-search-bottom-shadow {
	-webkit-box-shadow: 0 3px 5px -2px #ccc;
	   -moz-box-shadow: 0 3px 5px -2px #ccc;
			box-shadow: 0 3px 5px -2px #ccc;
}

.responsive-icon-effect {
	background-color: #222f37;
	border-bottom: 1px solid #415867;
}

.row-fluid {
	width: 100%;
}

.main-section {
	margin-left: 40px;
	margin-top:40px;
}

.bold {
	font-weight:bold;
}

.accepted-price {
	color:red;
}

#main_body {
	min-height: 600px
}

.dropdown-change {
	background-color: white;
}

.row {
	margin-left:0px;
}