#Header {
	height: 50px;
}

#Header .container {
	width: 100%;
	height: 48px;
}

#Header .navbar-inner {
	background-color: rgb(46, 88, 122);
	border: none;
	width: 100%;
	position: fixed;
	top: 0px;
	height: 48px;
	min-width: 430px;
	z-index: 1030;
	background-image:none;
}

#Header .nav-left {
	margin-left:45px;
}

#Header .brand-name {
	/*margin-left: 45px;*/
	margin-right: 25px;
}

#Header .brand-name a {
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-left: 0px;
	padding-top: 14px;
}


#Header .signup,
#Header .login,
#Header .create-story,
#Header .my-story {
  	font-weight: bold;
  	letter-spacing:0px;
  	font-size: 13px;
}

#Header .signup a,
#Header .login a,
#Header .my-story a,
#Header .create-story a{
	text-shadow: none;
	padding-top: 14px;
	color: white;
	padding-left: 0px;
	color: #c2c2c2;
}

#Header .signup a:hover,
#Header .login a:hover,
#Header .my-story a:hover,
#Header .create-story a:hover{
	color: white;
	text-decoration: none;
}

#Header .create-story a,
#Header .my-story a  {
	padding-left: 14px;
}

#Header .signup a,
#Header .login a {
	padding-right: 25px;
}

#Header .navbar .nav-left ul li {
	vertical-align: center;
}

#Header .navbar .nav-left .divider-vertical,
#Header .navbar .nav-right .short-divider  {
	height: 12px;
	margin-top: 17px;
	background-color: white;
	opacity: 0.2;
	border-left: 0px;
}

#Header .navbar .nav-left .divider-vertical {
	margin-right: 18px;
}

#Header .navbar .nav-right .short-divider {
	margin-right: 25px;
	border-right: 1px solid rgba(255,255,255,0.2);
}

#Header .nav-left li {
	height: 50px;
}

#search_query {
	background-color: #ffffff;
	border-radius: 2px;
	border: 1px solid #333;
	height:20px;
	width: 250px;
	min-width: 130px;
	color: #333;
	padding-left: 18px;
	font-weight: bold;
	font-size:12px;
}

#search_query:focus {
	border: 0px;
	border-color: black;
	border: 1px solid #283a46;
}

#search_query::-webkit-input-placeholder
 {
	color: #cacaca;
	font-size: 12px;
	font-weight: bold;
}

#search_query:-moz-placeholder {
	color: #cacaca;
	font-size: 12px;
	font-weight: bold;
}

#search_submit_btn
{
  	z-index: 1;
  	background: url('../../../img/app/header/search-icon.png');
  	position: relative;
  	left: -29px;
  	top: -3px;
  	border: 0 none;
  	height: 1.5em;
  	line-height: 1.5em;
  	text-indent: 100px;
  	width: 20px;
}

#responsive_search_btn {
	position: relative;
  	left: -20px;
  	top: 4px;
}

#Header .search-bar {
	margin:0px;
	padding: 9px 0px 0px 20px;
	height: 48px;
}


#Header .search-bar .search-result {
	position: absolute;
	top: 10px;
	right: 57px;
	background-color: #1a242b ;
	border-right: 1px solid #273843;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px solid #273843;
	width:25px;
	z-index:1;
	border-radius: 0px;
	font-weight: bold;
	color: #959698;
	height: 20px;
	text-align: center;
}

#Header .search-bar .search-result:hover {
	cursor: default;
}

#Header .navbar .nav-right {
	margin-right: 60px;
}

#Header .navbar .nav-right li {
	margin:0px;
	padding: 0px;
}

#Header .navbar .nav-right .divider-vertical {
	height: 48px;
	background-color: white;
	opacity: 0.2;
	border-right: 0px;
}

#Header .navbar .nav-right .user-account  {
	text-align: center;
	height: 48px;
	position: relative;
	top:0px;
	border: 0px;
}

#Header .navbar .nav-right .user-account-area {
	margin-top: 1px;
	height: 48px;
	margin-left: 15px;
}

#Header .navbar .nav-right .user-account-area .user-avatar {
	margin-top:5px;
}

#Header .navbar .nav-right .profile-picture {
	margin-top: 3px;
}

#user_menu {
	height: 48px;
	width: 40px;
	position: relative;
}

#user_menu .user-menu-area {
	padding-top:1px;
	height: 48px;
}

.user-account-hover-effect {
	background-color: #333;
}

#Header .navbar .nav-right .fullname {
  	font-weight: bold;
  	letter-spacing:0px;
  	font-size: 13px;
	color: #c2c2c2;
	margin-top: 13px;
	margin-left: 13px;
}

#Header .navbar .nav-right .fullname:hover {
	color: white;
}

#Header .navbar .nav-right .responsive-icon {
	width:60px;
	height: 48px;
}

#Header .navbar .nav-right .responsive-icon img
{
	margin-left: 20px;
	margin-top: 15px;
}

#handler_responsive_search_bar {
	margin-top: 16px;
	margin-right: 20px;
}

#user_account_avatar {
	border: 2px solid white;
}

#Header .navbar .nav-right .dropdown-icon{
	margin-top: 12px;
	margin-right: 15px;
	margin-left: 10px;
}

#handler_user_account_dropdown div {
	float: left;
}

#handler_user_account_dropdown:hover {
	text-decoration: none
}

#new_notify a {
	color: white;
	border-radius: 5px;
	background-color: red;
}