/******************************
*							  *
*		ADD STUFF MODAL		  *
*					  		  *
******************************/
#choose_story_category_modal {
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
	position: fixed;
	top:40%;
	left: 48%;
	height: auto;
	width: 642px;
	z-index: 1050;
}

#choose_story_category_modal .modal-body {
	padding:0px;
	max-height:none;
}

#choose_story_category_modal .choose-story-category-section {
	background-color: #fcfcfc;
	margin: 8px;
}

#choose_story_category_modal .choose-story-category-header {
	height: 55px;
	width: 100%;
	border-bottom: 1px solid #bababa;
	background: url('../../../img/app/body/modal-header-background.png');
}

#choose_story_category_modal .choose-story-category-header .header-text{
	font-size: 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
	margin-top: 18px;
	margin-left: 20px;
}

#choose_story_category_modal .choose-story-category-header .close-form {
	height: 100%;
	width: 55px;
	background-color: #e2e2e2;
	text-align: center;
}

#choose_story_category_modal .choose-story-category-header .close-form img{
	margin-top: 20px;
}

#choose_story_category_modal .choose-story-category-content {
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
}

#choose_story_category_modal ul.list-category {
	margin:30px 20px 30px 20px;
}

#choose_story_category_modal ul.list-category li.category-item {
	width:150px;
	height:240px;
	margin:20px 20px 0px 20px;
	float:left;
}

#choose_story_category_modal ul.list-category li.category-item .logo {
	width: 152px;
}

#choose_story_category_modal ul.list-category li.category-item .logo img {
	border: 1px solid #bababa;
	width:150px;
	height:150px;
}

#choose_story_category_modal ul.list-category li.category-item .name-description {
/*	text-align: center;*/
	margin-top:10px;
}